<!-- Navbar for small display -->
<mat-toolbar color="primary" *ngIf="mobileQuery.matches; else largeNav">
  <button [routerLink]="['/dashboard']" mat-button>Covid-19 Viewer</button>
</mat-toolbar>

<!-- Navbar for large display -->
<ng-template #largeNav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <button [routerLink]="['/dashboard']" mat-button>Covid-19 Viewer</button>
    </mat-toolbar-row>

    <mat-toolbar-row id="tools">
      <router-outlet (activate)="showToolbar = true" (deactivate)="showToolbar = false" name="tools">
      </router-outlet>
    </mat-toolbar-row>

  </mat-toolbar>
</ng-template>

<!-- Content for small display -->
<div *ngIf="mobileQuery.matches; else largeDisplay">
  <router-outlet name="content-small"></router-outlet>
</div>

<!-- Content for large display -->
<ng-template #largeDisplay>
  <div class="container">
    <mat-sidenav-container [autosize]="showNav">
      <mat-sidenav mode="side" [opened]="showNav">
        <nav id="nav">
          <router-outlet (activate)="showNav = true" (deactivate)="showNav = false" name='nav'></router-outlet>
        </nav>
      </mat-sidenav>
      <mat-sidenav mode="side" [opened]="showDetail" position="end">
        <aside id="detail">
          <router-outlet (activate)="showDetail = true" (deactivate)="showDetail = false" name='detail'></router-outlet>
        </aside>
      </mat-sidenav>
      <mat-sidenav-content>
        <article>
          <router-outlet></router-outlet>
        </article>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>