
 
  mat-card{
    width: fit-content;
    height: fit-content;
  }

  mat-toolbar {
      * {
        cursor: pointer;
      }
      .hide {
          height: 0;
    
    } 
  }

  :host{
      height: inherit;
      display: flex;
      flex-direction: column;
  }

  .container{
    flex-grow: 1;
  }

  #secondary-tools {
      font-weight: 300 !important;
  }