.container{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: " nav  view"
}
#nav {
    grid-area: nav;
}

#data-viewer {
    grid-area: view;
}