
 
  mat-card{
    width: fit-content;
    height: fit-content;
  }

  mat-toolbar {
      .hide {
          display: none;
    } 
  }

  :host{
      height: inherit;
      display: flex;
      flex-direction: column;
  }

  .container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "content"
  }

  #secondary-tools {
      font-weight: 300 !important;
  }

  #loader{
    grid-area: content;
    display: contents;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  mat-sidenav-container {
    grid-area: content;
  }